body{
    margin: 0px;
}
a {
    color: black;
    text-decoration-line: none;
}
h1{
    font-size:45px;
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 0;
    padding:20px;
}
#active{
color: red;
}
#grid ol{
border-right: 1px solid gray;
width:150px;
margin:0;
padding: 20px;
padding-left: 33px;  
}
#grid{
display:grid;
grid-template-columns: 200px 1fr;
}
#article{
 padding: 20px;
}
@media(max-width:800px){
    #grid{
        display:block;
    }
    #gird ol{
        border-right: none;
    }
    h1{
        border-bottom: none;
    }
}
